@model SajaloZindagi.Models.SubEvents

@{
    Layout = "_AdminLayout";
}

<h4>SubEvents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSubEvents" action="/Admin/updateSubEvent" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SeName" class="control-label">Title</label>
                <input type="hidden" value="@Model.SeId" name="SeId"/>
                <input asp-for="SeName" class="form-control" name="SeName" value="@Model.SeName"/>
                <span asp-validation-for="SeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeDp" class="control-label">Picture</label>
                <input asp-for="SeDp" class="form-control" name="SeDp" type="file" />
                <img src="@Model.SeDp" alt="No Image" width="50" height="50"/>
                <span asp-validation-for="SeDp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EId" class="control-label">Select Main Event</label>
                <select asp-for="EId" class="form-control" name="EId">
                    <option>--SELECT--</option>
                    @foreach (SajaloZindagi.Models.Events item in ViewBag.Events)
                    {
                        @if (item.EName == Model.E.EName)
                        {
                            <option value="@item.EId" selected>@item.EName</option>
                        }
                        else
                        {
                            <option value="@item.EId">@item.EName</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

