@model List<SajaloZindagi.Models.Simages>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sajalo Zindagi</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top" style="color:black;">Sajalo Zindagi</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="\User\AllPakages" style="color:black;"><i class="fa fa-gift"></i>Pakages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about" style="color:black;">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact" style="color:black;">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="\User" style="color:black;">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="\User\AllServices" style="color:black;">Services</a>
                    </li>
                    <li class="nav-item">
                        @Html.Partial("Cart")
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <br />
                    <br />
                </div>
                <div class="col-lg-10 mx-auto">
                    <br />
                    <br />
                </div>

                <div class="col-lg-10 mx-auto">
                    <br />
                    <br />
                </div>
                <div class="col-lg-10 mx-auto">
                    <br />
                    <br />
                </div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <div class="col-lg-8 mx-auto">
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="/User">Book your event</a>
                </div>
            </div>

        </div>

    </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">We've got what you need!</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">Among the pioneers of event organiziers in Pakistan for over 20 years.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
                        <h3 class="mb-3">Decoration</h3>
                        <p class="text-muted mb-0">We give you the wide range of options in Decoration.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
                        <h3 class="mb-3">Camera Coverage</h3>
                        <p class="text-muted mb-0">Will cover your events with dedication and decent editing.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-lightbulb text-primary mb-3 sr-icon-3"></i>
                        <h3 class="mb-3">lighting</h3>
                        <p class="text-muted mb-0">latest upgraded lighting system</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                        <h3 class="mb-3">Catering</h3>
                        <p class="text-muted mb-0">like never seeen before</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Button trigger modal -->
    <!-- Modal -->
    @if (Model != null)
    {

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLongTitle">Some new Deals are here <i class="fa fa-smile-wink" style="color:rebeccapurple;"></i></h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    if (true)
                                    {

                                    }
                                    if (i > 0 && i % 3 == 0)
                                    {
                                    @:</div><br /><div class="row">
                                    }


                                    <div class="col-md-4">

                                        <div class="well">
                                            <span><i class="fa fa-gift fa-10x" style="color:darkorange;"></i></span>
                                            <h3>@Model[i].ImgName</h3>
                                            <a href="#" id="@Model[i].ImgId" class="m btn btn-primary" onclick="add()"><i class="fa fa-plus-square-o"></i>Add To Cart</a>
                                            <a href="/User/imgDetails/@Model[i].ImgId" class="btn btn-info">Details</a>
                                        </div>


                                    </div>


                                }
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="/User/AllPakages" class="m btn btn-primary">See All >></a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @*<section class="p-0" id="portfolio">
          <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
                  <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Category
                      </div>
                      <div class="project-name">
                        Project Name
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
                  <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Category
                      </div>
                      <div class="project-name">
                        Project Name
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
                  <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Category
                      </div>
                      <div class="project-name">
                        Project Name
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
                  <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Category
                      </div>
                      <div class="project-name">
                        Project Name
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
                  <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Category
                      </div>
                      <div class="project-name">
                        Project Name
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
                  <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Category
                      </div>
                      <div class="project-name">
                        Project Name
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>*@

    @Html.Partial("Footer")
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
</body>
</html>
@if (Model != null)
{
    <script type="text/javascript">
        $(document).ready(() => {
            $(window).on('load', function () {
                $('#myModal').modal('show');
            });
        });
    </script>


    <script>
    function add() {
        $.ajax({
            method: "POST",
            url: '@Url.Action("AddToCart","User")',
            data: { 'id': event.target.id },
            success: function (data) {
                if (data == 1) {
                    var prevCount = $('#badge').html();
                    $('#badge').html(++prevCount);
                    alert("Added to cart");
                }
            }
        });

    }
    </script>
}